


/* STYLESSS */
*{
    box-sizing: border-box;
    margin:0
}
.logo{
    width:50px;
    height:50px;
    margin-left:-6opx
}

nav{
    display:flex;
    justify-content: space-around;
    background: grey;
    height:65px;
    align-items: center;
}

nav ul{
    display:flex;
    
}
nav ul li{
    list-style-type: none;
    padding-right: 22px;
    color:white;
    cursor: pointer;
    
}

.about{
    top:170px;
    position: absolute;
    color:white;
    left:40px;
    text-align:center
}

.about h2{
    font-size: 28px;
}

.about p{
    background:white;
    text-align:center;
    color:black;
    margin:0 auto;
    width:80%;
    margin-top:20px;
    padding:10px;
    line-height: 20px;
}

.carousel {
    /* margin-left: 5%;
    margin-right: 5%; */
    margin-top:20px
}

ul.slides {
    display: block;
    position: relative;
    height: 600px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

ul.slides input {
    display: none; 
}


.slide-container { 
    display: block; 
}

.slide-image {
    display: block;
    position: absolute;
    width: 100%;
    height: 80%;
    top: 0;
    opacity: 0;
    transition: all .7s ease-in-out;
}   

.slide-image img {
    width: auto;
    min-width: 100%;
    height: 100%;
}

.carousel-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    font-size: 100px;
    line-height: 600px;
    color: #fff;
}

.carousel-controls label {
    display: none;
    position: absolute;
    padding: 0 20px;
    opacity: 0;
    transition: opacity .2s;
    cursor: pointer;
}

.slide-image:hover + .carousel-controls label{
    opacity: 0.5;
}

.carousel-controls label:hover {
    opacity: 1;
}

.carousel-controls .prev-slide {
    width: 49%;
    text-align: left;
    left: 0;
}

.carousel-controls .next-slide {
    width: 49%;
    text-align: right;
    right: 0;
}

.carousel-dots {
    position: absolute;
    left: 0;
    right: 0;
    /* bottom: 20px; */
    z-index: 999;
    text-align: center;
}

.carousel-dots .carousel-dot {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
    opacity: 0.5;
    margin: 10px;
}

input:checked + .slide-container .slide-image {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .carousel-controls label {
     display: block; 
}

input#img-1:checked ~ .carousel-dots label#img-dot-1,
input#img-2:checked ~ .carousel-dots label#img-dot-2,
input#img-3:checked ~ .carousel-dots label#img-dot-3,
input#img-4:checked ~ .carousel-dots label#img-dot-4,
input#img-5:checked ~ .carousel-dots label#img-dot-5,
input#img-6:checked ~ .carousel-dots label#img-dot-6 {
	opacity: 1;
}


input:checked + .slide-container .nav label { display: block; }




.second-section{
    margin-top:-90px;
    text-align:center;
    padding-right:80px;
    padding-left:80px;
    margin-bottom:30px
}
.second-section p{
    line-height:25px
}
.sect-image{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
   margin-left:10px
   

}
.about-img{
    width:220px; 
     height: 220px;
     margin-right: 15px;
     padding-bottom:20px
}


.footer {
    font-size: 16px;
    padding: 20px 0;
    line-height: 1.6;
    background: grey;
}

.footer__text,
.footer__link,
.footer__title {
    color: white;
    padding: 3px 15px;
    display: block;
}



.footer__sections {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.footer__section {
    box-sizing: border-box;
    width: 25%;
    padding: 15px 0;
    flex-shrink: 0;
}

.footer__title {
    font-weight: bold;
    margin-bottom: 10px;
}

.footer__link {
    text-decoration: none;
}

.footer__link:hover {
    color: #cccccc;
    background: rgba(255, 255, 255, 0.15);}

    .footer ul li{
list-style-type:none;
font-size:16px
    }

    .footer-section{
        display: flex;
        flex-direction: column;
    }

    .footer{text-align: center;
    color:white}

    .footer a{text-decoration: none;}