*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: auto;
    background-color: grey;
}
.content-wrapper{
    width: 100%;
    margin-bottom: 20px;
}
.content-wrapper img{
    width: 100%;
}
.text-wrapper{
    width: 90%;
    position: relative;
    margin-top:-50%;
}

.text-wrapper h1{
    text-align: center;
    color: black;
    font-size: 5vw;
    font-family:'Courier New', Courier, monospace; 
}

#sidebar{
    position: fixed;
    width: 15%;
    height: 51%;
    right: 0;  
    background-color:black;
    top: 0;
}    

 #sidebar li{
    color: white; 
    font-size: 20px;  
    padding: 20px;
    border-bottom: 1px solid grey;
    text-align: center; 
    list-style-type: none;
} 
.toggle-btn{
    position: left;
    left: 180%;
    top: 15px;
}
.toggle-btn span{
    display: block;
    background-color:black;
    width: 25px;
    height: 5px;
    margin: 2px;
    margin-left: -14%;
}
#sidebar.active{
    right: 0;
}

.slider{
    display: flex;
    flex-wrap: wrap;
}

.selection img{
    width: 30%;
    height: 300px;
    object-fit: fill;
}
